div.Informazioni {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  font-size: 22px;
}

div.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 22px;
}

div.Ricerca{
   border: 2px solid black;
  border-radius: 5px;
}

div.AttivitàDidattica{
   border: 2px solid black;
  border-radius: 5px;
}

div.TesiETirocini{
   border: 2px solid black;
  border-radius: 5px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
